*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 0.70;
}

.logo{

    letter-spacing: 3px;
    opacity: 1;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
    opacity: 90%;
}

main{
    background: url(/Imagens/white-texture-background.jpg) no-repeat
    center center;
    background-size: cover;
    height: 92vh;

}

.navlist{
    list-style: none;
    display: flex;
}

.navlist li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobilemenu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px){

body{
    overflow-x: hidden;
    }

.navlist {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translate(100%)
    }

.navlist li{
    margin-left: 0;
    opacity: 0;
}

.mobilemenu{
    display:block;
}

}

.navlist.active{
    transform: translateX(0);
}

h1{

    font-size: 70px;
    font-family: fantasy;
    color: #fff;
    height: 10px;
    
}

.til2{

    color:#23232e;
    position: center center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 600px;
    letter-spacing: 3px;
    align-items: center;
    height: 250px;

}

.Conteudo{
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 25%;
    height: 350px;
}

.quadra{
    border: solid #4E50CC;
    height: 200px;
    width: 200px;
    opacity: 0.70;  
}

h3{
    position: center center;
}

.rodape{

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
    opacity: 90%;

}

.txtrodape{
    color: #fff;

}

.ctn2{

    height: 50vh;
    width: 100%;
    background-color: #4E50CC;
    text-align: center;

}
